body {
    color: white;
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    font-size: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

a:active {
    color: yellow;
    font-size: 22px;
}


h1, div p {
    text-align: center;
}

.bab {
    background-color: #1e90ff;
    border: none;
    padding: 10px 0;
    margin-bottom: 20px;
}

.bab ul {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}

.FOX {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}


.bob {
    background-color: #1e90ff;
    padding: 10px 0;
    margin-top: 30px;
    text-align: center;
}

.bob a {
    color: #87cefa;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.bob a:hover {
    text-decoration: underline;
    color: #fff;
}

.bob p {
    margin: 10px 0;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea, button {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #62b6cb;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3582a6;
}

input:invalid {
    border: 2px solid red;
    background-color: rgb(255, 176, 176);
}

input:valid {
    border: 2px solid green;
    background-color: rgb(137, 247, 137);
}
