body{
    color: white;
    background-color: black;
}

ul{
    display: flex;
    justify-content: space-between;
    
}

ul li{
    font-size: 20px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.192)
}

h1, div p{
    text-align: center;
}

.FOX{
    width: 50px;
    height: 50px;
}

.bab{
    background-color: blue;
    border: white solid 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 3px;

}

.bob{
    background-color: blue;
    border: white solid 3px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 3px;
    
}


iframe{
    align-content: center;
}

.Alfa{
    display:inline-flex ;
    justify-content: end;
    align-self: end;
    align-content: end;
}