table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
}
th {
    background-color: #62b6cb;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #e3f2fd;
}


body{
    color: white;
    background-color: black;
}

ul{
    display: flex;
    justify-content: space-between;
    
}

ul li{
    font-size: 20px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.192)
}

h1, div p{
    text-align: center;
}

.FOX{
    width: 50px;
    height: 50px;
}

.bab{
    background-color: blue;
    border: white solid 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 3px;

}

.bob{
    background-color: blue;
    border: white solid 3px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 3px;
    
}